.heroC{ 
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)), 
  url(../../../public/assets/counter.webp);
  /* opacity: 0.7; */
  
  /* max-width: 1600px;  */
}

.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }
  
  .content {
    max-width: rem(480px);
    padding-right: calc(var(--mantine-spacing-xl) * 3);
  
    @media (max-width: 1200px) {
      max-width: 100%;
      padding-right: 0;
    }
  }
  
  .title {
    color: #000000;
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;
  
    @media (max-width: 756px) {
      font-size: rem(28px);
    }
  }
  

  .titleSpan{
    color: #2196F3;
  }


  /* .control {
    @media (max-width: $mantine-breakpoint-xs) {
      flex: 1;
    }
  } */
  
  .image {
    position: fixed;
    z-index: -1;
    top: -120px;
    left: -120px;
    width: 100%;
    /* width: rem(376px); */
    /* height: rem(356px); */
  
    @media (max-width: 1200px) {
      display: none;
    }
  }
  
  .highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
  }